
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
}

.container {
    max-width: 700px; 
    text-align: center;
    display: flex;  /* Enable Flexbox for layout */
    flex-direction: column;
    align-items: center; /* Center elements */
}

h1 { 
    position: fixed;
    left: 0px;
    top: -10px;
    margin-top: auto;
    box-sizing: content-box;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
}


.form-group, .output { 
    position: relative;
    margin-bottom: 20px; /* Increase spacing */

}

textarea {
    top: 40px;
    width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
    border: 1px solid #999999;
    border-radius: 4px; 
    resize: vertical;
}

.output {
   margin-top: 20px;
   padding: 15px;
   border: 1px solid #000000;
   border-radius: 4px;
   margin-bottom: 5px; 
   font-family: monospace; 
   font-weight: bold; 
}
.output p {
    margin-bottom: 10px;
}

#format-button {
    background-color: #4CAF50; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#format-button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}


#copy-button {

    background-color: #4CAF50; 
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; 
}
#copy-button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

#saved-tickets {
    position: fixed; /* Keep it fixed in position */
    left: 0;         /* Position it on the left edge */
    top: 50px;       /* Adjust top offset as needed */
    width: 200px;    /* Specify the desired width */
    background-color: #f0f0f0; /* Light background color */
    border: 1px solid #ccc;    /* Subtle border */
    padding: 15px;             /* Add internal padding */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }

  /* Style for the ticket list container */
#saved-ticket-list { 
    /* Add styles as needed (e.g., spacing) */
};
  
  /* Style for the individual ticket buttons */
  #saved-ticket-list button {
    background-color: #4CAF50; /* Example: Green background */
    color: white;
    padding: 10px 15px;
    margin: 5px 0; /* Spacing between buttons */
    border: none;
    border-radius: 4px; /* Slightly rounded corners */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth hover effect */
  }
  
  #saved-ticket-list button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
  }
  